* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

h1,
h2 {
  margin: 0;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f8fa;
}

.oauth-complete-box {
  padding: 10px 40px 10px 40px;
  border-radius: 6px;
  border: 1px solid #e1e4e8;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oauth-complete-box span {
  margin: 10px 0;
  opacity: 0.4;
}

.oauth-complete-box h1 {
  text-align: center;
}

.oauth-complete-box img {
  width: 300px;
}

.txt-box {
  max-width: 400px;
  text-align: center;
}

.txt-box a,
a:visited,
a:hover,
a:active {
  color: inherit;
}